blender-*
ckpts/
MVPainter/outputs/
MVPainter/results/
MVPainter/logs
MVPainter/render_temp
MVPainter/data
MVPainter/mvpainter/custom_rasterizer/build
MVPainter/mvpainter/custom_rasterizer/custom_rasterizer.egg-info
ossutil_output


*.png
*.glb
*.pyc

*.so
*.o


